.box {
  width: 50%;
  height: 300px;
  overflow-y: scroll;
  border: 1px #999 solid;
}

.content {
  white-space: nowrap; /* 要素名が横に伸びないようにする */
  width: max-content; /* 要素名の長さに合わせて幅を設定 */
}

.btn_04 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 500px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}
.btn_04:hover {
  color: #7ea9ea;
  background: #fff;
}

.scroll {
  width: 80%; /* 画面幅の80% */
  max-width: 800px; /* 最大幅を指定 */
  height: 80vh; /* 画面の高さの80% */
  max-height: 400px; /* 最大高さを指定 */
  background-color: whitesmoke;
  overflow: auto; /* スクロールが必要な場合に表示 */
  border: black 1px solid;
}

.preview {
  text-align: center; /* テーブルを中央に配置 */
}

.next-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999; /* 最前面に配置 */
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 500px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

.next-button:hover {
  color: #7ea9ea;
  background: #fff;
}
@media (max-width: 768px) {
  .next-button {
    position: fixed;
    bottom: 20px;
    right: calc(100% - 60px); /* 画面の右端からの位置 */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
  }
}
