.box {
  width: 50%;
  height: 300px;
  overflow-y: scroll;
  border: 1px #999 solid;
}

.content {
  white-space: nowrap; /* 要素名が横に伸びないようにする */
  width: max-content; /* 要素名の長さに合わせて幅を設定 */
}

.btn_04 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 120px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}
.btn_04:hover {
  color: #7ea9ea;
  background: #fff;
}
