.box {
  width: 50%;
  height: 300px;
  overflow-y: scroll;
  border: 1px #999 solid;
}

.content {
  white-space: nowrap; /* 要素名が横に伸びないようにする */
  width: max-content; /* 要素名の長さに合わせて幅を設定 */
}

.btn_04 {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 500px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}
.btn_04:hover {
  color: #7ea9ea;
  background: #fff;
}

.scroll {
  width: 800px;
  height: 300px;
  overflow: scroll;
  
}

.preview {
  text-align: center; /* テーブルを中央に配置 */
}

.next-button {
  position: fixed; /* 位置を固定 */
  bottom: 20px; /* 下から20pxの位置に */
  right: 20px; /* 右から20pxの位置に */
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 250px;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

.next-button:hover {
  color: #7ea9ea;
  background: #fff;
}

.flex{
  display: flex;
  justify-content:space-around;
  align-items:center;
}

table {
  border-collapse:separate;
  border-spacing:0px;
  border-radius:10px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

table th,td{
  background-color: #ffffff;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  opacity:0.7;
}

table tr:first-child th:first-child {
  border-radius: 10px 0 0 0;
}
table tr:first-child th:last-child {
  border-radius: 0 10px 0 0;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

h3 {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}
