body {
}
.sentence {
  color: #292929;
}
.page_title {
  color: #292929;
}

.btn_04 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 300px;
  height: 70;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  font-size: 25px;
  border-radius: 100vh;
  transition: 0.5s;
  display: flex;
}
.btn_04:hover {
  color: #7ea9ea;
  background: #fff;
}
