.body {
  /* display: flex; Flexboxを使って要素を横に並べる */
  align-items: center; /* アイコンとテキストを垂直方向の中央に揃える */
  margin-top: 100px; /* 上からのマージンを設定 */
}
.hello {
  color: black;
  font-size: 40px;
  margin-right: 0 auto;
  padding-left: 80px;
}
.bi-journal-text {
  fill: currentColor; /* SVGアイコンの色をテキスト色と同じにする */
  vertical-align: middle; /* アイコンをテキストの中央に合わせる */
  margin-right: auto; /* テキストとの間隔 */
}
.btn_04 {
  position: fixed; /* 位置を固定 */
  bottom: 20px; /* 下から20pxの位置に */
  right: 20px; /* 右から20pxの位置に */
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 250px;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #7ea9ea;
  background: #7ea9ea;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

.btn_03 {
  position: fixed;
  bottom: 20px; /* 下から20pxの位置に */
  left: 20px; /* 左から20pxの位置に */
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 250px;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #bbbbbb;
  background: #bbbbbb;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

.btn_03 :hover {
  background-color: #6e6e6e;
  color:white;
}

.flex{
  display: flex;
  justify-content:space-around;
  align-items:center;
}

table {
  border-collapse:separate;
  border-spacing:0px;
  border-radius:10px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

table th,td{
  background-color: #ffffff;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  opacity:0.7;
}

table tr:first-child th:first-child {
  border-radius: 10px 0 0 0;
}
table tr:first-child th:last-child {
  border-radius: 0 10px 0 0;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
.scroll {
  width: 100%;
  height: 320px;
  overflow: scroll;
  
}