<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SophiaCompass</title>
    <link rel="icon" href="../static/image/logo2.PNG">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <style>
      body{
        background-image: url("../static/image/background.png");
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
    <nav
      class="navbar navbar-dark bg-dark fixed-top"
      style="background-color: #b2d1ff !important; color: #292929 !important"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <t></t>
          <img src="../static/image/logo2.PNG" alt="ろご！" width="50px" height="50px" style="display: inline-block;">
          SophiaCompass
        </a>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
