{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" href="../static/choseTarget.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="../static/modal.css">
<script src="../static/modal.js"></script>
<form action="" method="POST" enctype="multipart/form-data" id="file-form"
style="
width:70%;
height: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 100px; 
text-align: center;
color:#292929;">

    

    <h1>データを選択してください</h1>

    <h3>目的変数を選択してください</h3>
    <select name="item">
      {% for title in columns %}
    <option value={{title}}>{{title}}</option>
    {% endfor %}
    </select>



    <h3>分析の種類を選択してください:</h3>

    <select name="selection" id="select">
      <option value="">--選択してください--</option>
      <option value="回帰">回帰</option>
      <option value="分類">分類</option>
    </select>
    
    
    <div class="modal">
      <div class="modalBtn">
        <p>i</p>
      </div><!-- /.modalBtn -->
      <div class="modalBg">
        <div class="modalArea">
          <div class="modalClose"></div><!-- /.modalClose -->
          <h2>回帰</h2>
          <p><h5>回帰とは、連続値を用いて別の数値を予測する手法です。</h5></p>
          <p><h5>例えば、広告費によって商品の売上が増加する様子を、過去の広告費・売上データを基に予測します。<br><br></h5></p>
          <br><br>
          <h2>分類</h2>
          <p><h5>分類とは、分析したいデータがどのグループに属するかを判定する手法です。</h5></p>
          <p><h5>例えば、顧客の購買データを基にその顧客が新商品を買うかを否かを予測します。<br><br></h5></p>
        </div><!-- /.modalArea -->
      </div><!-- /.modalBg -->
    </div><!-- /.modal -->


    <!-- <h5>データのプレビュー</h5> -->

<div class="flex">
  <div>
    <div class="scroll">
      <table>
        
        <tr>
          {% for title in columns %}
          <th>{{title}}</th>
          {% endfor %}
        </tr>

        {% for columnData in data %}
        <tr>
          {% for d in columnData %}
          <td>{{d}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      

      </table>
    </div>
  </div>
</div>

     
<button class="next-button">次へ</button>






      
    <div class="info_mark">
      <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="28" 
          height="28" 
          fill="#B2D1FF" 
          class="bi bi-info-circle-fill" 
          viewBox="0 0 16 16" 
          style="position: fixed; bottom: 0; right: 0;"
      >
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
      </svg>
  </div>


  </body>
</html>

{% endblock %}

