{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" href="../static/index.css" />
<form action="" method="POST" enctype="multipart/form-data" id="file-form"
style="
width:70%;
height: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 100px; 
text-align: center;
color:#292929;">

  <body>
    <div class="sentence"><h2>叡智を探す</h2></div>
    <div class="page_title">
      <h1>Sophia Compass</h1>
    </div>
    <div class="instruction">
      <h2>分析がしたい、しかしコードを書くことは難しいと考えるあなたへ。</h2>
    </div>
    <a href="{{id}}/home" class="btn_04">分析を初める</a>


    <div> 
      <h2> 『Sophia Compass』とは</h2>
      <h3>機械学習をもっと簡単に！</h3>
      <h3>コードを書くこと無く、機械学習を行うことができる自動機械学習（AutoML）ツールです</h3>
    </div>

    <nav>
      <ul>
        <li><a class="indexcol" href="#">Sophia Compassとは</a></li>
        <li><a class="indexcol"href="#">ツール特徴</a></li>
        <li><a class="indexcol"href="#">使用方法</a></li>
        <li><a class="indexcol"href="#">推奨環境</a></li>
        <li><a class="indexcol"href="#">FAQ</a></li>
      </ul>
    </nav>

  </body>
</html>

{% endblock %}

